.title {
     font-size: 35px;
    color: #f9fcff;
}
.detail{
    margin-top: 70px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.726);
}

.start_booking{
    width: 100px;
    height: 422px;
    margin-top: 35px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: white;
}
 
.bookingSubInput{
    width: 95%;
    border: none;
    outline: none;
    background-color:whitesmoke;
    line-height: 50px;
    padding-left: 10px;
}

.submitFrom{
    width: 93%;
    margin-top: 19px;
    margin-left: 7px;
    border: none;
    outline: none;
    height: 50px;
    background-color: rgb(255, 136, 0);
}
.fromText{
    color: rgb(211, 209, 209);
}