
    .login_container{
        display: grid;
        justify-content: center;
        margin: 20px 0px 20px 0px;
    }

    .input_container{
        border: 1px solid rgb(196, 218, 233);
        padding: 20px;
    }

    .login_form input{
        display: block;
        margin-top:12px ;
        width: 370px;
        border: none;
        outline: none;
        border-bottom: 1px solid rgba(196, 218, 233, 0.918);
    }

    .submitFormBtn{
        line-height: 45px;
        background-color: rgb(255, 136, 0);
    }

    .error{
        color: red;
        font-size: 9px;
    }

    .googleAndFbLoginBtn{
        border-radius:20px;
        border: 1px solid  rgba(196, 218, 233, 0.918);
        outline: none !important;
    }

    .imgGoogleAndFb{
        width:23px;
        float: left;
    }
